.header {
  margin-top: 20px;
}

.header-model-select,
.header-groups-select,
.header-layout-select {
  min-width: 200px !important;
}

.header .header-groups-select,
.header .header-query,
.header .header-save {
  margin-left: 10px;
}

.header-query {
  min-width: 300px;
}

.header-layout-block,
.header-model-group-block {
  display: inline-block;
  margin: -10px -15px -10px 25px;
  padding: 10px 15px 10px 15px;
}

.header-model-group-block {
  margin-left: 15px;
  margin-right: 10px;
}

.header-progress {
  color: #1a90ff;
  position: absolute;
  width: 100%;
  top: 60px;
}